.main-content > div{
	display: flex;
	justify-content: center;
	width: 100%;
}
.center {
	width: 1140px;
	height: inherit;
	display: flex;
}



.wide-line {
	height: 150px;
	background-color: #f8f3f4;
}
.wide-line >div {
	height: inherit;
	width: 300px;
}
.wide-line .center {
	justify-content: space-between;
	width: 1140px;
	padding-top: 60px;
	height: 140px;
}
.wide-line .left p{
	font-family: Lato;
	font-weight: 700;
	font-size: 24px;
	line-height: 20px;
	text-align: right;
	color: #f16d7f;

}
.wide-line .right {
	display: flex;
	justify-content: space-between;
}
.wide-line .right p,span {
	font-family: Lato;
	font-weight: 300;
	line-height: 20px;
	text-align: center;
	color: #707070;
}
.wide-line .right p:hover {
	font-weight: 700;
	font-size: 14px;
	color: var(--primary-color);
}
/*----------*/


.main-content {
	height: 2200px;
}




.product {
	width: 1140px;
	height: 1475px;
	margin-top: 100px;
}
.product .center{
	display: flex;
}



.product-content {
	width: 848px;
	height: 1475px;

}











.top-filter {
	width: 848px;
	height: 169px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}
.top-filter .trending-now{
	width: 192px;
	height: 79px;
}
.top-filter .trending-now p:nth-child(1){
	font-size: 14px;
	line-height: 20px;
	color: #6f6e6e;
	margin-bottom: 10px;

}
.top-filter .trending-now p:nth-child(2){
	font-size: 14px;
	text-align: left;
	line-height: 10px;
	color: #6f6e6e;

}
.top-filter .trending-now p:nth-child(2) a{
	font-size: 14px;
	line-height: 26px;
	text-align: left;
	color: #6f6e6e;
	text-decoration: none;
	padding: 0 8px;
	border-right: 1px solid #DFDFDF;
}
.top-filter .trending-now p:nth-child(2) a:nth-child(1){
	padding-left: 0;
}
.top-filter .trending-now p:nth-child(2) a:nth-child(4){
	padding-left: 0;
}
.top-filter .size {
	width: 237px;
	height: 80px;
}
.top-filter .size p{
	font-size: 14px;
	line-height: 20px;
	color: #6f6e6e;

}
.top-filter .price {
	width: 263px;
	height: 80px;

}
.top-filter .underline {
	width: 846px;
	height: 50px;
	background: #f3f3f3;
	position: absolute;
    bottom: 0;
    display: flex;
}
.top-filter .sort-by {
	width: 153px;
	height: 33px;
	background: #fff;
	border: 1px solid #ebebeb;
	display: flex;
	margin-top: 7px;
	margin-left: 6px;
}
.top-filter .sort-by p{
	font-size: 14px;
	line-height: 28px;
	color: #6f6e6e;
	padding: 1px 16px 0 13px;
	border-right: 1px solid #EBEBEB;

}
.top-filter .sort-by select {
	outline: none;
    color: #6f6e6e;
    border: 0;
    font-size: 14px;
    line-height: 2px;
    color: #6f6e6e;
    margin-top: 0px;
    height: 28px;
    width: 68px;
    padding: 0 0 0 8px;
}





.product-content .product {
	width: 848px;
	height: 1164px;
	margin-top: 0;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-content .pagination {
	width: 848px;
	height: 44px;
}
.product-content .choose {
	width: 237px;
	height: 43px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 13px;

}

.product-content .choose input {
	margin-top: 4px;
}
.product-content .choose div {
	width: 59px;
	height: 14px;
	display: flex;
}
.product-content .choose p {
	font-size: 14px;
	line-height: 20px;
	color: #6f6e6e;
	margin-left: 10px;
}
.product-content .price {
	width: 263px;
	height: 80px;
	position: relative;

}
.product-content .price .line {
	width: 262px;
	height: 6px;
	border-radius: 3px;
	background: #f0f0f0;
	display: flex;
	margin-top: 21px;
}
.product-content .price .front {
	width: 14px;
	height: 14px;
	background: #f16d7f;
	margin: -4px -1px 0 60px;
	border-radius: 50%;
}
.product-content .price .body {
	width: 124px;
	height: 6px;
	background: #f16d7f;
}
.product-content .price .back {
	width: 14px;
	height: 14px;
	background: #f16d7f;
	margin: -4px -3px 0 -3px;
    border-radius: 50%;
}
.product-content .price p:last-child {
	position: absolute;
	font-size: 14px;
	line-height: 26px;
	text-align: left;
	color: #6f6e6e;
	margin-top: 7px;
}
.product-content .content {
	margin-left: 30px;
}
.fetured-items .content:hover .black-box{
	display: block;
}
.fetured-items  .content:hover{
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.16);
}

.product-content .content:nth-child(3n+1){
	margin-left: 0px;
}
.product-content .content:nth-child(-n+3){
	margin-top: 50px;
}
.product-content .price p:last-child span {
	margin-left: 200px;
}





.product-content .pagination {
	width: 847px;
	height: 44px;
	display: flex;
	justify-content: space-between;
}
.product-content .pagination .number {
	width: 261px;
	height: 44px;
	background: #fff;
	border: 1px solid #ebebeb;
	display: flex;
}
.product-content .pagination .number i {
	font-size: 16px;
	line-height: 26px;
	text-align: left;
	color: #c4c4c4;
	letter-spacing: 0.5em;
    margin-top: 9px;
}
.product-content .pagination .number p {
	font-size: 16px;
	line-height: 26px;
	text-align: left;
	color: #c4c4c4;
	letter-spacing: 0.5em;
    margin-top: 9px;

}
.product-content .pagination .view {
	width: 150px;
	height: 44px;
	border-radius: 3px;
	background: #fff;
	border: 1px solid #ef5b70;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	text-align: left;
	color: #ef5b70;
	color: #ef5b70;
    padding: 10px 0 0 80px;


}






.feature-box {
	width: 100%;
	height: 340px;
	background: #222224;

}
.feature-box .center {
	padding-top: 90px;
	height: 250px;
	display: flex;
	justify-content: space-between;
}

.feature-box .box {
	width: 332px;
	height: 207px;
	background-repeat: no-repeat;
	background-position: 140px 0;
}
.feature-box .box:nth-child(1){
	background-image: url(../img/gruz.png);
}
.feature-box .box:nth-child(2){
	background-image: url(../img/procent.png);
}
.feature-box .box:nth-child(3){
	background-image: url(../img/king.png);
}
.feature-box .box h1{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 24px;
	text-align: center;
	color: #fbfbfb;
	margin-top: 60px;

}
.feature-box .box p {
	width: 332px;
	height: 111px;
	font-weight: 300;
	font-size: 13px;
	letter-spacing: 0.03em;
	line-height: 23px;
	text-align: center;
	color: #fbfbfb;
	margin-top: 10px;

}





